body{
    background-color: black;
    color: white;
    height: 100vh;
    
}
/* ----------------------------------------------------------------------------------------------------------- */

/* background styling */
video#pxltdBackground {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -5;
    background-size: cover;
    }


/* ------------------------------------------------------------------------------------------------------------------- */

/* Jumbotron */
.jumbotron .container{
    text-align: center;
}

.jumbotron{
    background-color: #000;
    padding: 0px;
    margin-bottom: 0;
}

.jumbotron .container h1{
   font-family: pixelHeading,'Courier New', Courier, monospace;
   font-size: 115px;
}

.jumbotron .container p{
    font-family: pixelCopy,'Courier New', Courier, monospace;
    font-size: xx-large;
    margin-bottom: 0;
 }
/* -------------------------------------------------------------------------------------------------------------------- */

/* Card */
div.card{
    /* background-color: rgb(7, 7, 7); */
    background-color: black;
}

div.card-body{
    padding-bottom: 0px;
}

div.card-body h5.card-title{
    font-family: pixelCopy, 'Courier New', Courier, monospace;
    font-size: xxx-large;
    margin-bottom: 0px;
}

div.card-body p.card-text{
    font-family: pixelCopy, 'Courier New', Courier, monospace;
    font-size: xx-large;
    margin-bottom: 0px;
}

div.card button{
    background-color: transparent  ;
    border: none;
    padding: 0;
}

div.card label.btn.btn-secondary{
    border: #ffff;
    border-width:2px;  
    border-style:dashed;
    background-color: transparent;
    font-family: pixelCopy, 'Courier New', Courier, monospace;
    font-size: xx-large;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 25px;

}

div.card label.btn.btn-secondary.active{
    color: black;
    background-color: white;
}


/* -------------------------------------------------------------------------------------------------------------------- */

/* Fonts */

@font-face{
    font-family: pixelHeading;
    src: url(fonts/blox2.ttf);
}

@font-face{
    font-family: pixelCopy;
    src: url(fonts/LEVIWINDOWS.TTF);
}


